* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .logo {
    display: block;    
    margin: 40px auto 0 auto;
    width: 300px;
    height: auto;
  }
  .back-icon img {
    width: 30px;  
    height: auto;
    position: absolute;
    top: 60px;  
    left: 60px; 
  }

  .Registering {
    font-family: "Inter", sans-serif;
    font-weight: 650;
    font-size: 45px;
    background: linear-gradient(to right, #0412A1 31%, #1A80D9 63%, #FFCF7F 70%, #FFC565 100%);
    background-size: 600px 100%; 
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  .content {
    padding: 60px; 
  }
  .box-register {
  display: block;    
  margin: 60px auto 0 auto;
  margin-bottom: 40px;
  width: 90%; 
  max-width: 1000px; 
  padding: 40px;
  box-shadow: 0px 3px 5px 0px #1e1e1eb3; 
  border-radius: 24px;
  background-color: white;
  }

  .Full-Name{
    display: flex;
    flex-direction: column; 
    gap: 8px; 
    margin-top: 60px;
  }
  .Full-Name label {
    font-weight: bold; 
    font-size: 16px;    
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }
  .Full-Name input {
    padding: 10px;
    margin-top: 4px;
    border: 1px solid #9a9a9a;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .Country {
    display: flex;
    flex-direction: column; 
    gap: 8px; 
    margin-top: 40px;
  }
  .Country label {
    font-weight: bold; 
    font-size: 16px;    
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }
  select {
    padding: 10px;           
    margin-top: 4px;         
    border: 1px solid #9a9a9a; 
    border-radius: 8px;
    font-size: 16px;         
    width: 100%;             
    box-sizing: border-box;  
    height: 40px;   
    appearance: none;
    }

    .Email_input{
        display: flex;
        flex-direction: column; 
        gap: 8px; 
        margin-top: 40px;
      }
      
      .Email_input label {
        font-weight: bold; 
        font-size: 16px;    
        font-family: "Inter", sans-serif;
        font-weight: 600;
      }
      
      .Email_input input {
        padding: 10px;
        margin-top: 4px;
        border: 1px solid #9a9a9a;
        border-radius: 8px;
        font-size: 16px;
      }


  .phone_input{
    display: flex;
    flex-direction: column; 
    gap: 8px; 
    margin-top: 40px;
  }
  .phone_input label{
    font-weight: bold; 
    font-size: 16px;    
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }
  .phone_input input{
    padding: 10px;
    margin-top: 4px;
    border: 1px solid #9a9a9a;
    border-radius: 8px;
    font-size: 16px;
  }
  .button_next{
    display: flex;
    justify-content:end;
    margin-top: 20px;
  }
  .button_next button {
    margin-top: 30px;
    width: 150px; 
    height: 50px;
    font-size: 18px; 
    background-color: #0412A1;
    color: white; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }